.features {
    background-color: #3f4655;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .feature {
    text-align: center;
    color: white;
    max-width: 300px;
    padding: 90px 30px;
}

.features .feature:not(:last-child) {
    border-right: 2px solid black;
}

.features .feature .feature-icon img {
    height: 120px;
    width: auto;
    margin-bottom: 20px;
}

.features .feature .feature-title {
    margin-bottom: 15px;
}


.features .feature .feature-description {
    color: #778091;
    font-weight: 600;
}

